@model ClientUserChangePassword
@{
    ViewBag.Title = "Change Password";
}

@section head{
    <link href="~/Content/LoginRegister.css" rel="stylesheet" />
}

<form action="" method="post" id="loginForm" class="form-control" enctype="multipart/form-data">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            @Html.ValidationMessage("ErrorMessage", new { @class = "text-danger" })
        </div>
        <div class="col-lg-8 mx-auto">
            @Html.ValidationMessageFor(model => model.Current, "", new { @class = "text-danger" })
        </div>
        <div class="col-lg-8 mx-auto">
            @Html.ValidationMessageFor(model => model.New, "", new { @class = "text-danger" })
        </div>
        <div class="col-lg-8 mx-auto mb-3">
            @Html.ValidationMessageFor(model => model.Confirm, "", new { @class = "text-danger" })
        </div>
        <div class="col-lg-8 mx-auto">
            <div class="form-group">
                <h5>@Html.LabelFor(model => model.Current, htmlAttributes: new { @class = "" })</h5>
                @Html.EditorFor(model => model.Current, new { htmlAttributes = new { @class = "form-control", required = "", autofocus = "" } })
            </div>
        </div>

        <div class="col-lg-8 mx-auto">
            <div class="form-group">
                <h5>@Html.LabelFor(model => model.New, htmlAttributes: new { @class = "" })</h5>

                @Html.EditorFor(model => model.New, new { htmlAttributes = new { @class = "form-control", required = "", autofocus = "" } })
            </div>
        </div>

        <div class="col-lg-8 mx-auto">
            <div class="form-group">
                <h5>@Html.LabelFor(model => model.Confirm, htmlAttributes: new { @class = "" })</h5>
                @Html.EditorFor(model => model.Confirm, new { htmlAttributes = new { @class = "form-control", required = "", autofocus = "" } })
            </div>
        </div>
    </div>

    <br />

    <div id="editUserBtn">
        <button class="changeBtn">Change</button>&nbsp;&nbsp;&nbsp;
        <button type="reset" class="reset-btn">Reset</button>
    </div>
</form>