@model MerchandiseEditVM

@{
    ViewBag.Title = "Edit Merchandise";
}

<!DOCTYPE html>
<link href="~/Content/createMerch.css" rel="stylesheet" />

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit Merchandise</title>
</head>
<body>

            <form action="" method="post" enctype = "multipart/form-data">
                @Html.ValidationSummary(true)

                <div class="form-group">
                    <label>ID:</label>
                    <fieldset disabled>
                        @Html.TextBoxFor(m => m.Id, new { maxlength = "4", data_upper = "", autofocus = "", @class = "form-control", @readonly = "" })
                    </fieldset>
                </div>

                <div class="form-group">
                    <label>Name:</label>
                    @Html.TextBoxFor(m => m.Name, new { maxlength = "50", @class = "form-control", autocomplete = "off" })
                    @Html.ValidationMessageFor(m => m.Name)
                </div>

                <div class="form-group">
                    <label>Price:</label>
                    @Html.TextBoxFor(m => m.Price, new { @class = "form-control", autocomplete = "off" })
                    @Html.ValidationMessageFor(m => m.Price)
                </div>

                <div class="form-group">
                    <label>Status:</label>
                    <div>
                        <label>@Html.RadioButtonFor(m => m.Status, "Available") Available </label>
                    </div>
                    <div>
                        <label>@Html.RadioButtonFor(m => m.Status, "Unavailable") Unavailable </label>
                    </div>
                    @Html.ValidationMessageFor(m => m.Status)
                </div>

                <div class="form-group">
                    <label class="upload">
                        Image (Press Below to add Image) :
                        @Html.TextBoxFor(m => m.Image, new { type = "file", accept = "image/jpeg,image/png", hidden = ""})
                        <img src="~/Images/Uploads/Merchandise/@Model.ImageURL" id="uploadPreview" />
                    </label>
                    @Html.ValidationMessageFor(m => m.Image)
                </div>

                <br />
                <section>
                    <button class="edit-btn">Edit</button>
                    <button type="reset" class="create-btn">Reset</button>
                </section>
            </form>
    <br />
    <br />

</body>
</html>

@section foot {
    <script>
        function validatePhoto(f) {
            let reType = /^image\/(jpeg|png)$/i;
            let reName = /^.+\.(jpg|jpeg|png)$/i;

            return f &&
                f.size <= 1 * 1024 * 1024 &&
                reType.test(f.type) &&
                reName.test(f.name);
        }

        let src = null;

        $('.upload input').change(e => {
            let f = e.target.files[0];
            let img = $(e.target).siblings('#uploadPreview')[0];

            if (!src) src = img.src;

            if (validatePhoto(f)) {
                img.src = URL.createObjectURL(f);
            }
            else {
                img.src = src;
                e.target.value = '';
            }
            $(e.target).valid();
        });
    </script>
}