@using PagedList
@using PagedList.Mvc
@model IPagedList<Donation>
@{
    var ao = new AjaxOptions
    {
        UpdateTargetId = "target",
        LoadingElementId = "loader",
        OnSuccess = "highlight"
    };
    string[] fields = { "Id", "Donor", "Time Donated", "Amount", "Event" };
    string sort = Request.Params["sort"];
    string sortdir = Request.Params["sortdir"];
    string keyword = Request.Params["keyword"];
}

<link href="~/Content/receipt.css" rel="stylesheet" />

@foreach (var f in fields)
{
    string d = "ASC";
    string c = "";

    if (f == sort)
    {
        d = sortdir == "DESC" ? "ASC" : "DESC";
        c = sortdir;
    }
}

@foreach (var d in Model.Take(1))
{
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">🙏 <u>THANK YOU FOR DONATING!</u> 🙏</h2>
            <table class="receipt-table">
                <tr>
                    <td><u><b>Image of the Event</b><u></td>
                    <img src="~/Images/Uploads/Event/@d.Event.CoverImage" style="height:300px; object-fit:cover;" />
                </tr>
                <tr>
                    <td>Name :</td>
                    <td><div class="receipt-align"><b>@d.User.LastName @d.User.FirstName</b></div></td>
                </tr>
                <tr>
                    <td>Event Name :</td>
                    <td><div class="receipt-align"><b>@d.Event.Title</b></div></td>
                </tr>
                <tr>
                    <td>Time Donated :</td>
                    <td><div class="receipt-align"><b>@d.TimeDonated</b></div></td>
                </tr>
                <tr>
                    <td>Amount Donated :</td>
                    <td><div class="receipt-align"><b><u>RM @d.Amount.00</u></b></div></td>
                </tr>

            </table>
        </div>
    </div>
}

<br />
<form action="~/Home/Donation">
    <input type="submit" value="Back to Donation Page" class="button-normal" />
</form>
<br />
<br />

@{
    var po = PagedListRenderOptions.ClassicPlusFirstAndLast;
    po.LinkToFirstPageFormat = "First";
    po.LinkToLastPageFormat = "Last";
    po.LinkToPreviousPageFormat = "Previous";
    po.LinkToNextPageFormat = "Next";
}
