@using Fundtasia
@model DonationPaymentVM
@{
    ViewBag.Title = "Donation Payment";

    IEnumerable<Donation> donation = ViewBag.Donation;
}

<link href="~/Content/payment.css" rel="stylesheet" />

<body>
    <form method="post" action="">
        <div class="card" style="width: 28rem;">
            <div class="card-body">
                <h2 class="card-title">💰 Donation Amount 💰</h2>
                <h5 class="card-title">Enter the amount:</h5>
                @Html.TextBoxFor(d => d.Amount, new { @class = "form-control", autocomplete = "off", placeholder = "Enter here" })
                @Html.ValidationMessageFor(d => d.Amount, "", new { @class = "error-msg" })
                <br />
                <h5 class="card-title">Select Event:</h5>
                @Html.DropDownListFor(d => d.EventId, (SelectList)ViewBag.EventList, "-- Select One --", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.EventId, "", new { @class = "error-msg" })
            </div>
        </div>

        <div class="card" style="width: 28rem;">
            <div class="card-body">
                <h2 class="card-title">💳 Card Details 💳</h2>
                <h5>Name : </h5>
                @Html.TextBoxFor(d => d.Name, new { @class = "form-control", autocomplete = "off", placeholder = "Name here" })
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "error-msg" })
                <h5>Card Number : </h5>
                @Html.TextBoxFor(d => d.CardNumber, new { @class = "form-control", autocomplete = "off", placeholder = "Card Number here" })
                @Html.ValidationMessageFor(m => m.CardNumber, "", new { @class = "error-msg" })
                <h5>Expiry Date : </h5>
                @Html.TextBoxFor(d => d.ExpiryDate, new { @class = "form-control", autocomplete = "off", placeholder = "Expiry Date here" })
                @Html.ValidationMessageFor(m => m.ExpiryDate, "", new { @class = "error-msg" })
                <h5>CVV : </h5>
                @Html.TextBoxFor(d => d.CVV, new { @class = "form-control", autocomplete = "off", placeholder = "CVV here" })
                @Html.ValidationMessageFor(m => m.CVV, "", new { @class = "error-msg" })
            </div>
        </div>

        <div class="card" style="width: 28rem;">
            <div class="card-body">
                <h2 class="card-title">Verification</h2>
                <h5>reCAPTCHA </h5>
                <p>reCAPTCHA here</p>
                <input type="submit" value="Proceed" class="donate-submit" />
            </div>
        </div>
    </form>
</body>

@section foot
{
    <script>

    </script>
}