@using PagedList
@using PagedList.Mvc
@model IPagedList<Event>
@{
    ViewBag.Title = "Event";
}

<div class="row">
    <div class="col-lg-8 mx-auto">
        <h2 class="section-title text-center">
            <span>Read our</span>
            Event
        </h2>
    </div>
</div>

<div class="row">
    @foreach (var s in Model)
    {
    <div class="col-lg-6 col-md-6">
        <div class="post">
            <div class="post-media post-image">
                <a href="@Url.Action("EventDetail", "Home", new { id = s.Id })"><img src="~/Images/Uploads/Event/@s.CoverImage" class="img-fluid" /></a>
            </div>
            <div class="post-body">
                <div class="post-meta">
                    <span class="post-author">BY @s.User.FirstName @s.User.LastName</span>
                    <div class="post-meta-date">
                        <span class="day">@s.CreatedDate.Day</span>
                        <span class="month">@s.CreatedDate.ToString("MMMM")</span>
                        <span class="year">@s.CreatedDate.Year</span>
                    </div>
                </div>
                <div class="entry-header">
                    <div class="entry-title">
                        <h2>
                            <a href="@Url.Action("EventDetail", "Home", new { id = s.Id })">@s.Title</a>
                        </h2>
                    </div>
                </div>
                <div class="entry-content">
                    <p>@Html.Raw(s.Article.Substring(0, s.Article.IndexOf("."))).</p>
                </div>
                <div class="post-footer">
                    <a href="@Url.Action("EventDetail", "Home", new { id = s.Id })" class="btn-link">Read More <i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    }
</div>