@model Event
@{
    ViewBag.Title = "Event Detail";
    var ao = new AjaxOptions
    {
        UpdateTargetId = "target"
    };
}

@section head{
    <style>
        .like {
            border: none;
            background-color: inherit;
            padding: 14px, 28px;
            font-size: 16px;
            cursor: pointer;
            display: inline-block;
        }
    </style>
}

<div class="row wow fadeInDown" data-wow-duration="1.5s" data-wow-delay="400ms">
    <div class="col-lg-8 mx-auto">
        <h2 class="section-title text-center">@Model.Title</h2>
    </div>
</div>

<!-- YouTube Iframe -->
<div class="row wow fadeInDown" data-wow-duration="1.5s" data-wow-delay="400ms">
    <div class="col-lg-8 mx-auto">
        <iframe width="770" height="433" src="https://www.youtube.com/embed/@Model.YouTubeLink" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="col-lg-8 mx-auto">
        <h4></h4>
    </div>
</div>

<!-- Target Progress Bar -->
<div class="row wow fadeInDown" data-wow-duration="1.5s" data-wow-delay="400ms">
    <div class="col-lg-12 mx-auto mt-5">
        <div class="row">
            <div class="col">
                <h3>Target: RM @Model.Target</h3>
            </div>
            <div class="col">
                <i class="fas fa-eye"></i> @Model.View
            </div>
        </div>
        <div class="progress">
            @{
                var totalDonation = 0.00;
                var progress = 0.00;
                if (ViewBag.TotalDonation != null)
                {
                    totalDonation = (double)(ViewBag.TotalDonation / Model.Target) * 100;
                    progress = totalDonation;
                    if (progress > 100)
                    {
                        progress = 100;
                    }
                }
            }
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="@progress" aria-valuemin="0" aria-valuemax="100" style="width: @progress%;"></div>
        </div>
        @if (totalDonation != 0)
        {
            <div class="row mt-3">
                <div class="col">Total Donated: RM @totalDonation.ToString("F")</div>
                <div class="col">Total Donor: @ViewBag.TotalDonor <i class="fas fa-user"></i></div>
            </div>
        }
    </div>
</div>


<!-- Article -->
<div class="row mt-5 wow fadeInDown" data-wow-duration="1.5s" data-wow-delay="400ms">
    <div class="col-lg-12">
        @Html.Raw(Model.Article)
    </div>
</div>
