@model Event
@{
    ViewBag.Title = "Event Detail";
    var ao = new AjaxOptions
    {
        UpdateTargetId = "target"
    };
}

@section head{
    <style>
        .like {
            border: none;
            background-color: inherit;
            padding: 14px, 28px;
            font-size: 16px;
            cursor: pointer;
            display: inline-block;
        }
    </style>
}

<div class="row">
    <div class="col-lg-8 mx-auto">
        <h2 class="section-title text-center">@Model.Title</h2>
    </div>
</div>

<!-- YouTube Iframe -->
<div class="row">
    <div class="col-lg-8 mx-auto">
        <iframe width="770" height="433" src="https://www.youtube.com/embed/@Model.YouTubeLink" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="col-lg-8 mx-auto">
        <h4></h4>
    </div>
</div>

<!-- Target Progress Bar -->
<div class="row">
    <div class="col-lg-12 mx-auto mt-5">
        <div class="row">
            <div class="col">
                <h3>Target: RM @Model.Target</h3>
            </div>
            <div class="col">
                <i class="fas fa-eye"></i> @Model.View 
            </div>
        </div>
        <div class="progress">
            @{
                var totalDonation = (ViewBag.TotalDonation / Model.Target) * 100;
            }
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="@totalDonation" aria-valuemin="0" aria-valuemax="100" style="width: @totalDonation%;"></div>
        </div>
    </div>
</div>

<!-- Article -->
<div class="row mt-5">
    <div class="col-lg-12">
        @Html.Raw(Model.Article)
    </div>
</div>

@* If user is not login account *@
@if (!Request.IsAuthenticated)
{
    <div id="popup" class="container ts-speaker-popup mfp-hide">
        <div class="p-5">
            <h3 class="text-center">Seems like you havent login your account yet</h3>
            <div class="row">
                <div class="d-grid col-6 mx-auto text-center mx-3">
                    @Html.ActionLink("Sign Up", "SignUp", "UserAuth", null, new { @class = "btn" })
                    @Html.ActionLink("Log In", "LogIn", "UserAuth", null, new { @class = "btn" })
                </div>
            </div>
        </div>
    </div>
}
