@using Fundtasia
@model MerchPaymentVM
@{
    ViewBag.Title = "Merchandise Payment";

    IEnumerable<UserMerchandise> donation = ViewBag.UserMerchandise;
    Merchandise merchandise = (Merchandise)ViewBag.merchandise;
}

<link href="~/Content/payment.css" rel="stylesheet" />

<body>

    <form method="post" action="">
        <div class="row">
            <div class="card" style="width: 28rem;">
                <div class="card-body">
                    <h3 class="card-title">👕 Merchandise Selected 👕</h3>
                    <div class="card text-center">
                        <img src="~/Images/Uploads/Merchandise/@merchandise.Image" />
                        <div class="card-body">
                            <h4 style="color: #9B0909">RM @merchandise.Price.00</h4>
                            @Html.TextBoxFor(d => d.MerchandiseId, new { @Value = merchandise.Id, autocomplete = "off", hidden = "" })
                            <h4 class="card-title" style="min-height:50px;">@merchandise.Name</h4>
                            <h4>Size : </h4>
                            <div>
                                <label>@Html.RadioButtonFor(m => m.Size, "S") S </label>
                            </div>
                            <div>
                                <label>@Html.RadioButtonFor(m => m.Size, "M") M </label>
                            </div>
                            <div>
                                <label>@Html.RadioButtonFor(m => m.Size, "L") L </label>
                            </div>
                            <div>
                                <label>@Html.RadioButtonFor(m => m.Size, "XL") XL </label>
                            </div>
                            @Html.ValidationMessageFor(m => m.Size, "", new { @class = "error-msg" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="card" style="width: 28rem;">
                <div class="card-body">
                    <h2 class="card-title">💳 Card Details 💳</h2>
                    <h5>Name : </h5>
                    @Html.TextBoxFor(d => d.Name, new { @class = "form-control", autocomplete = "off", placeholder = "Name here" })
                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "error-msg" })
                    <h5>Card Number : </h5>
                    @Html.TextBoxFor(d => d.CardNumber, new { @class = "form-control", autocomplete = "off", placeholder = "Card Number here" })
                    @Html.ValidationMessageFor(m => m.CardNumber, "", new { @class = "error-msg" })
                    <h5>Expiry Date : </h5>
                    @Html.TextBoxFor(d => d.ExpiryDate, new { @class = "form-control", autocomplete = "off", placeholder = "Expiry Date here" })
                    @Html.ValidationMessageFor(m => m.ExpiryDate, "", new { @class = "error-msg" })
                    <h5>CVV : </h5>
                    @Html.TextBoxFor(d => d.CVV, new { @class = "form-control", autocomplete = "off", placeholder = "CVV here" })
                    @Html.ValidationMessageFor(m => m.CVV, "", new { @class = "error-msg" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="card" style="width: 28rem;">
                <div class="card-body">
                    <h2 class="card-title">📫 Billing Address 📫</h2>
                    <h5>Full Name : </h5>
                    @Html.TextBoxFor(d => d.FullName, new { @class = "form-control", autocomplete = "off", placeholder = "Full Name here" })
                    @Html.ValidationMessageFor(d => d.FullName, "", new { @class = "error-msg" })
                    <h5>Street Address : </h5>
                    @Html.TextBoxFor(d => d.StreetAddress, new { @class = "form-control", autocomplete = "off", placeholder = "Street Address here" })
                    @Html.ValidationMessageFor(d => d.StreetAddress, "", new { @class = "error-msg" })
                    <h5>State : </h5>
                    @Html.DropDownListFor(d => d.State,
                                       new List<SelectListItem>
                                                {
                                                   new SelectListItem { Value = "JH" , Text = "Johor"  },
                                                   new SelectListItem { Value = "KD" , Text = "Kedah" },
                                                   new SelectListItem { Value = "KT" , Text = "Kelantan"},
                                                   new SelectListItem { Value = "MK" , Text = "Malacca"  },
                                                   new SelectListItem { Value = "NS" , Text = "Negeri Sembilan" },
                                                   new SelectListItem { Value = "PN" , Text = "Penang"  },
                                                   new SelectListItem { Value = "PR" , Text = "Perak" },
                                                   new SelectListItem { Value = "PL" , Text = "Perlis"},
                                                   new SelectListItem { Value = "SB" , Text = "Sabah"  },
                                                   new SelectListItem { Value = "SW" , Text = "Sarawak" },
                                                   new SelectListItem { Value = "SG" , Text = "Selangor"},
                                                   new SelectListItem { Value = "TR" , Text = "Terengganu"}
                                                }, new { @class = "form-control" })

                    @Html.ValidationMessageFor(d => d.State, "", new { @class = "error-msg" })
                    <h5>City : </h5>
                    @Html.TextBoxFor(d => d.City, new { @class = "form-control", autocomplete = "off", placeholder = "City here" })
                    @Html.ValidationMessageFor(d => d.City, "", new { @class = "error-msg" })
                    <h5>Postal Code : </h5>
                    @Html.TextBoxFor(d => d.PostalCode, new { @class = "form-control", autocomplete = "off", placeholder = "XXXXX" })
                    @Html.ValidationMessageFor(d => d.PostalCode, "", new { @class = "error-msg" })
                </div>
            </div>

            <div class="card" style="width: 28rem;">
                <div class="card-body">
                    <h2 class="card-title">Verification</h2>
                    <h5>reCAPTCHA </h5>
                    <p>reCAPTCHA here</p>
                    <input type="submit" value="Proceed" class="donate-submit" />
                </div>
            </div>
        </div>
    </form>
</body>
</html>
