@using Fundtasia
@model MerchandisePaymentVM
@{
    ViewBag.Title = "Merchandise Payment";

    IEnumerable<UserMerchandise> donation = ViewBag.UserMerchandise;
    Merchandise merchandise = (Merchandise)ViewBag.merchandise;
}

<link href="~/Content/payment.css" rel="stylesheet" />

<body>

    <form method="post" action="">
        <div class="row">
            <div class="card" style="width: 28rem;">
                <div class="card-body">
                    <h3 class="card-title">👕 Merchandise Selected 👕</h3>
                    <div class="card text-center">
                        <img src="~/Images/Uploads/Merchandise/@merchandise.Image" />
                        <div class="card-body">
                            <h4 style="color: #9B0909">RM @merchandise.Price.00</h4>
                            @Html.TextBoxFor(d => d.MerchandiseId, new { @Value = merchandise.Id, autocomplete = "off", hidden = ""})
                            <h4 class="card-title" style="min-height:50px;">@merchandise.Name</h4>
                            <h4>Size : </h4>
                            <div>
                                <label>@Html.RadioButtonFor(m => m.Size, "S") S </label>
                            </div>
                            <div>
                                <label>@Html.RadioButtonFor(m => m.Size, "M") M </label>
                            </div>
                            <div>
                                <label>@Html.RadioButtonFor(m => m.Size, "L") L </label>
                            </div>
                            <div>
                                <label>@Html.RadioButtonFor(m => m.Size, "XL") XL </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card" style="width: 28rem;">
                <div class="card-body">
                    <h2 class="card-title">💳 Card Details 💳</h2>
                    <h5>Name : </h5>
                    <input type="text" class="form-control" id="" placeholder="Name on Card" autocomplete="off"><br />
                    <h5>Card Number : </h5>
                    <input type="text" class="form-control" id="" placeholder="0000 0000 0000 0000" autocomplete="off"><br />
                    <h5>Expiry Date : </h5>
                    <input type="text" class="form-control" id="" placeholder="(MM/YY)" autocomplete="off"><br />
                    <h5>CVV : </h5>
                    <input type="text" class="form-control" id="" placeholder="CVV" autocomplete="off"><br />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="card" style="width: 28rem;">
                <div class="card-body">
                    <h2 class="card-title">📫 Billing Address 📫</h2>
                    <h5>Full Name : </h5>
                    @Html.TextBoxFor(d => d.FullName, new { @class = "form-control", autocomplete = "off", placeholder = "Full Name here" })
                    @Html.ValidationMessageFor(d => d.FullName)
                    <h5>Street Address : </h5>
                    @Html.TextBoxFor(d => d.StreetAddress, new { @class = "form-control", autocomplete = "off", placeholder = "Street Address here" })
                    @Html.ValidationMessageFor(d => d.StreetAddress)
                    <h5>State : </h5>
                    @Html.TextBoxFor(d => d.State, new { @class = "form-control", autocomplete = "off", placeholder = "State here" })
                    @Html.ValidationMessageFor(d => d.State)
                    <h5>City : </h5>
                    @Html.TextBoxFor(d => d.City, new { @class = "form-control", autocomplete = "off", placeholder = "City here" })
                    @Html.ValidationMessageFor(d => d.City)
                    <h5>Postal Code : </h5>
                    @Html.TextBoxFor(d => d.PostalCode, new { @class = "form-control", autocomplete = "off", placeholder = "XXXXX" })
                    @Html.ValidationMessageFor(d => d.PostalCode)
                </div>
            </div>

            <div class="card" style="width: 28rem;">
                <div class="card-body">
                    <h2 class="card-title">Verification</h2>
                    <h5>reCAPTCHA </h5>
                    <p>reCAPTCHA here</p>
                    <input type="submit" value="Proceed" class="donate-submit" />
                </div>
            </div>
        </div>
    </form>
</body>
</html>
