@model IEnumerable<Fundtasia.Models.User>

@{
    ViewBag.Title = "ClientUser";
}

<table class="table">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Verified</th>
        <th>Status</th>
        <th>Last Login</th>
        <th>Role</th>
        <th></th>
    </tr>
    @foreach (var clientUser in Model)
    {
        if (clientUser.Role == "User")
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => clientUser.FirstName)</td>
                <td>@Html.DisplayFor(modelItem => clientUser.LastName)</td>
                <td>@Html.DisplayFor(modelItem => clientUser.IsEmailVerified)</td>
                <td>@Html.DisplayFor(modelItem => clientUser.Status)</td>
                <td>@Html.DisplayFor(modelItem => clientUser.LastLoginTime)</td>
                <td>@Html.DisplayFor(modelItem => clientUser.Role)</td>
                <td><button data-get="/Admin/EditProfile">Edit</button></td>
            </tr>
        }
    }
</table>