@model User
@{
    ViewBag.Title = "Profile";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                @using (Html.BeginForm(null, null, FormMethod.Post))
                {

                    <div class="form-group mb-4">
                        @Html.LabelFor(model => model.Id, htmlAttributes: new { @class = "col-lg-6 col-md-12 p-3" })
                        <div class="col-md-12 border-bottom p-0">
                            @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control p-3 border-0", @readonly = "" } })
                        </div>
                    </div>
                    <div class="form-group mb-4">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "col-lg-6 col-md-12 p-3" })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "col-lg-6 col-md-12 text-danger text-justify" })
                        <div class="col-md-12 border-bottom p-0">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control p-3 border-0", required = "" } })
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group mb-4">
                                    @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "col-lg-6 col-md-12 p-3" })
                                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "col-lg-6 col-md-12 text-danger text-justify" })
                                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control p-3 border-top-0 border-start-0 border-end-0", required = "", type = "text" } })
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group mb-4">
                                    @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "col-lg-6 col-md-12 p-3" })
                                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "col-lg-6 col-md-12 text-danger text-justify" })
                                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control p-3 border-top-0 border-start-0 border-end-0", required = "", type = "text" } })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-4">
                        @Html.LabelFor(model => model.PasswordHash, htmlAttributes: new { @class = "col-lg-6 col-md-12 p-3" })
                        @Html.ValidationMessageFor(model => model.PasswordHash, "", new { @class = "col-lg-6 col-md-12 text-danger text-justify" })
                        <div class="col-md-12 border-bottom p-0">
                            @Html.EditorFor(model => model.PasswordHash, new { htmlAttributes = new { @class = "form-control p-3 border-0" } })
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group mb-4">
                                    @Html.LabelFor(model => model.LastLoginTime, htmlAttributes: new { @class = "col-lg-6 col-md-12 p-3" })
                                    @Html.ValidationMessageFor(model => model.LastLoginTime, "", new { @class = "col-lg-6 col-md-12 text-danger text-justify" })
                                    @Html.EditorFor(model => model.LastLoginTime, new { htmlAttributes = new { @class = "form-control p-3 border-0", @readonly = "" } })
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group mb-4">
                                    @Html.LabelFor(model => model.LastLoginIP, htmlAttributes: new { @class = "col-lg-6 col-md-12 p-3" })
                                    @Html.ValidationMessageFor(model => model.LastLoginIP, "", new { @class = "col-lg-6 col-md-12 text-danger text-justify" })
                                    @Html.EditorFor(model => model.LastLoginIP, new { htmlAttributes = new { @class = "form-control p-3 border-0", @readonly = "" } })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-4">
                        <div class="col-sm-12">
                            <button class="btn btn-success rounded-pill text-white">Submit</button>
                            <button class="btn btn-warning rounded-pill text-white" type="RESET">Reset</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
