@{ 
    string[] fields = { "Id", "Email", "TimeDonated", "Amount", "EventId" };

    string sort = Request.Params["sort"];
    string sortdir = Request.Params["sortdir"];
}

<h3 class="box-title">@ViewBag.Title Table</h3>
<div class="table-responsive">
    <table class="table text-nowrap">
        <thead>
            <tr>
                @foreach (var f in fields)
                {
                    string d = "ASC";
                    string c = "";

                    if (f == sort)
                    {
                        d = sortdir == "DESC" ? "ASC" : "DESC";
                        c = sortdir;
                    }

                    <th class="border-top-0"><a href="?sort=@f&sortdir=@d" class="@c">@f</a></th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var d in Model)
            {
                <tr>
                    <td>@d.Id</td>
                    <td>@d.User.Email</td>
                    <td>@d.TimeDonated</td>
                    <td>@d.Amount</td>
                    <td>@d.EventId</td>
                </tr>
            }
        </tbody>
    </table>
</div>
